@import "tailwindcss";

/* Optional: add @theme {...} rules here if needed */


 
/* body{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-image: linear-gradient(45deg,rgba(255,255,255,0.1)rgba(255,255,255,0.2)),url('../assets/laptop.jpeg'); */

